<!--&lt;!&ndash;Pokusaj dodavanja vise edukacija&ndash;&gt;-->
<!--<h1>Education and training</h1>-->
<!--<div ng-repeat="obj in odabrani">-->

  <!--<pre>{{obj}}</pre>-->
<!--</div>-->

<!--<hr>-->
<!--<div>-->

  <!--<div period model="add.Period"></div>-->
  <!--<div title model="add.Title"></div>-->
  <!--<div organisation model="add.Organisation"></div>-->

  <!--<div level model="add.Level"></div>-->
  <!--<button class="btn btn-default" ng-click="addNew()">Add</button>-->
<!--</div>-->





  <div class="panel panel-default">

    <div class="panel-heading">Education and training:</div>
    <div class="container">
      <div class="row col-md-10">

        <div ng-repeat="obj in odabrani">

          <pre>{{obj}}</pre>
        </div>

        <div period model="add.Period"></div>
        <button class="btn btn-default" ng-click="addNew()">Add</button>
        <div title model="add.Title"></div>

        <div organisation model="add.Organisation"></div>

        <div level model="add.Level"></div>



      </div>

    </div>



</div>
