<mob-navbar>
  Administracija
</mob-navbar>
<div style="top: 50px;position: absolute;">
  <div class="container">
    <div class="container-fluid"
         ng-repeat="row in data">
      <!--ng-repeat-->
      <!--<pre>{{row}}</pre>-->
      <h2>Korisnik: {{row.username}}</h2>
      <hr>
      <div class="row"
           ng-repeat="d in row.drafts">
        <pre>{{d}}</pre>
        <h3 class="col-lg-6">{{d.title}}
        <button class="btn btn-default" ng-click="approve(d.id)">Approve</button></h3>
        <pre class="col-lg-12" pretty-json="d.data"></pre>
      </div>
    </div>
  </div>
  <!--<div style="background-color: rebeccapurple"  class="container-fluid">-->
    <!--<h2>{{draftovi.user.name}}</h2>-->
    <!--<hr>-->
    <!--<div class="row">-->
      <!--<div ng-repeat="item in draftovi.components" class="col-lg-3">-->
        <!--<div class="row">-->
          <!--<h4 class="col-lg-6">{{item.title}}</h4>-->
          <!--<button ng-click="approve(item,draftovi.user)">Approve</button>-->
        <!--</div>-->
        <!--<pre pretty-json="item.data"  class="container-fluid"></pre>-->

      <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
  <!--</div>-->
</div>


<!--<pre>{{drafts}}</pre>-->
<!--<hr>-->
<!--<pre>{{components}}</pre>-->
