<div class="row">
  <label>Information
    <select ng-model="model.Information"
            ng-options="ob for ob in ict track by ob"></select>
    </label>
  <label>Communication
    <select ng-model="model.Communication"
            ng-options="ob for ob in ict track by ob">
    </select>
  </label>
  <label>Content Creation
    <select ng-model="model.ContentCreation"
            ng-options="ob for ob in ict track by ob">
    </select>
  </label>
  <label>Safety
    <select ng-model="model.Safety"
                 ng-options="ob for ob in ict track by ob">
    </select>
  </label>
  <label>Problem solving
    <select ng-model="model.ProblemSolving"
                 ng-options="ob for ob in ict track by ob">
    </select>
  </label>
</div>
