<h1>computer proficienct lvl</h1>
<h2>Information</h2>
<select ng-model="odabrani.Information"
        ng-options="ob for ob in ict track by ob">
</select>
<hr>
<h2>Communication</h2>
<select ng-model="odabrani.Communication"
        ng-options="ob for ob in ict track by ob">
</select>
<hr>
<h2>ContentCreation</h2>
<select ng-model="odabrani.ContentCreation"
        ng-options="ob for ob in ict track by ob">
</select>
<hr>
<h2>Safety</h2>
<select ng-model="odabrani.Safety"
        ng-options="ob for ob in ict track by ob">
</select>
<hr>
<h2>ProblemSolving</h2>
<select ng-model="odabrani.ProblemSolving"
        ng-options="ob for ob in ict track by ob">
</select>
<hr>
