<h3>Driving</h3>
<div ng-repeat="obj in odabrani" ng-init="edit = true">
  <label>eh: </label>
  <select ng-model="obj" ng-disabled="edit"
          ng-options="ob for ob in enum track by ob">
  </select>

  <button ng-click="edit=!edit;" >Edit</button>
  <button ng-click="delete($index)" >Delete</button>
</div>
<hr>
<div>
  <label>eh: </label>
  <select ng-model="add"
          ng-options="ob for ob in enum track by ob">
  </select>

  <button ng-click="addNew()">add</button>
</div>



<pre>{{odabrani}}</pre>
