<p class="input-group">
  <input type="text"
         class="form-control"
         uib-datepicker-popup="{{format}}"
         ng-model="model"
         is-open="popup.opened"
         datepicker-options="dateOptions"
         close-text="Close"
         alt-input-formats="altInputFormats" />
  <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open()">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</p>
<!--<pre>dt: {{dt}}</pre>-->
<!--<pre>odabrani: {{odabrani}}</pre>-->
<!--<pre>model: {{model}}</pre>-->
<!--<pre>ngModel: {{ngModel}}</pre>-->
