/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

//urls
$url_0: url(https://s14.postimg.org/d3t7i0d0h/Login_form_background.jpg);

body {
  background: $url_0 no-repeat center center fixed;
  background-size: cover;
}
.panel-default {
  opacity: 0.9;
  margin-top: 30px;
}
.form-group.last {
  margin-bottom: 0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
