<div  class="container">

    <div class="panel panel-default">
      <div class="panel-heading">Nationality</div>

      <div class="row">

        <label>Gender</label><br>
            <div class="col-lg-2" ng-repeat="obj in odabrani" ng-init="edit = true">

              <select   class="col-lg-2" ng-model="obj"
                        ng-disabled="edit"
                        ng-options="ob.Label for ob in enum track by ob.Label">
              </select>
              <button ng-click="edit=!edit;" >Edit</button>
              <button ng-click="delete($index)" >Delete</button>
            </div>
        <br>
            <div  class="col-lg-2">
              <select ng-model="add" ng-options="ob.Label for ob in enum">
              </select>
              <button ng-click="addNew()">Add</button>
            </div>




      </div>
    </div>
  </div>
