<h3>Mother tongue</h3>
<div class="input-group">
  <select ng-model="add.Description" class="form-control"
          ng-options="ob.Label for ob in enum track by ob.Label">
  </select>
  <div class="input-group-btn">
    <button class="btn btn-default " ng-click="addNew()">add</button>
  </div>
</div>
<div class="input-group" ng-repeat="obj in model"  ng-init="edit = true">
  <select ng-model="obj.Description" ng-disabled="edit" class="form-control"
          ng-options="ob.Label for ob in enum track by ob.Label">
  </select>
  <div class="input-group-btn">
    <button class="btn btn-default"
            ng-click="edit=!edit;">{{edit?'Edit':'Save'}}</button>
    <button class="btn btn-danger"
            ng-click="delete($index)">Delete</button>
  </div>
</div>
