<div class="col-md-4">
<div class="panel panel-default">
  <div class="panel-heading">Address info</div>
  <div class="panel-body">
    <div class="row">


        <label>Address Line</label><br>
        <input ng-model="model.AddressLine">
        <label>Address Line 2</label>
        <input ng-model="model.AddressLine2">
        <label>Postal Code</label>
        <input ng-model="model.PostalCode">
        <label>Municipality</label>
        <input ng-model="model.Municipality">
        <label>Country</label>
        <div country-type ng-model="model.Country"></div>
      </div>


  </div>
</div>
</div>

<!--<pre>{{model}}</pre>-->
<!--<pre>{{model}}</pre>-->
