
<!-- Fixed Top Menu -->
<fixed-navbar-homepage ng-hide="!showNavbarFixed"></fixed-navbar-homepage>

<section id="a-navbar">
  	<div class="textUp wow animated fadeInDown">Ovo je navbar</div>
  	<div class="navbar wow animated fadeIn">
  		<div class="nav-item hidden-sm">
  			<a href="#about">

  				<p>about</p>
  			</a>
  		</div>
  		<div class="nav-item hidden-sm">
        <a ui-sref="courses">

  				<p>courses</p>
  			</a>
  		</div>
  		<div class="nav-item hidden-sm">
  			<a ui-sref="home({scrollTo:'team'})">

  				<p>team</p>
  			</a>
  		</div>
  		<div class="nav-item hidden-sm">
  			<a href="#newsletter">

  				<p>newsletter</p>
  			</a>
  		</div>
  		<div class="nav-item hidden-sm">
  			<a href="#contact">

  				<p>contact</p>
  			</a>
  		</div>
  		<div class="nav-item hidden-sm">
  			<a ng-click="showAccountModal()" href="#login">

  				<p>login</p>
  			</a>
  		</div>
  	</div>

</section>

<section id="a-about">
	<h1><b>about</b>us</h1>
	<div class="row">
		<div class="col-lg-7">
			<p>
	From web development to online education, Abstract Thinking does it all. We have all the latest and most relevant trends in the developer world within our grasp. A team of young professionals in different areas of expertise is here to cater to all your outsourcing needs. We recognize that traditional means of getting educated have become a thing of the past. Seeing that e-learning has become all the craze, Abstract Thinking has jumped on the bandwagon of online education and provides services of such sort. We are no strangers to web and mobile development and online security either. We have the skills and experience to provide you with all the latest technology your ultimate goals require. With us working closely with you to decide on the ideal solution for your business needs and implementation, the possibilities are endless. The bottom line is, there is nothing abstract about the end result of our work.</p>
		</div>
	</div>

</section>


<section id="footer">

	<div class="logo">
		<img src="assets/images/logo-footer.png">
	</div>

	<ul>
		<li>
			<i class="fa fa-facebook"></i>
			<div class="text">
				<p>Follow us on</p>
				<p><b>Facebook</b></p>
			</div>
		</li>
		<li>
			<i class="fa fa-twitter"></i>
			<div class="text">
				<p>Follow us on</p>
				<p><b>Twitter</b></p>
			</div>
		</li>
		<li>
			<i class="fa fa-google"></i>
			<div class="text">
				<p>Follow us on</p>
				<p><b>Google+</b></p>
			</div>
		</li>
	</ul>

	<div class="arrow">
		<a href="#totop"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></a>
	</div>

	<div class="mobFooter">
		<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
		<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
		<a href="http://www.google.com"><i class="fa fa-google"></i></a>
	</div>

</section>
