<div  class="jumbotron">
  <h3> Work Experience <button class="btn btn-info" ng-click="addNewModal()">Add</button></h3>
  <ul class="list-group"  ng-repeat="obj in model">
    <li class="list-group-item row">
      <label class="col-lg-11">
      Period: {{obj.Period.From.Year}}/{{obj.Period.From.Month}}/{{obj.Period.From.Day}} -
      {{obj.Period.To.Year}}/{{obj.Period.To.Month}}/{{obj.Period.To.Day}} Activities: {{obj.Activities}}
      {{obj.Employer.Sector.Label}} | {{obj.Employer.Name}}</label>
      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" placeholder="">-->
        <div class="input-group-btn col-lg-1">
          <button class="btn btn-default" ng-click="editModal($index)">Edit</button>
          <button class="btn btn-danger" ng-click="delete($index)">Delete</button>
        </div>
      <!--</div>-->
    </li>
  </ul>


</div>
