<h1>Work Experience</h1>
<div ng-repeat="obj in odabrani">
  <!--<pre>{{obj}}</pre>-->
  Period: {{obj.Period.From.Year}}/{{obj.Period.From.Month}}/{{obj.Period.From.Day}} -
  {{obj.Period.To.Year}}/{{obj.Period.To.Month}}/{{obj.Period.To.Day}} Activities: {{obj.Activities}}<br>
  {{obj.Employer.Sector.Label}} | {{obj.Employer.Name}}
  <hr>
  <button class="btn btn-default" ng-click="editModal($index)">Edit</button>
  <button class="btn btn-default" ng-click="delete($index)">Delete</button>
</div>
<button class="btn btn-default" ng-click="addNewModal()">Add</button>

