<div class="row">
  <div class="col-lg-6">
    komponenta1:<br>
    <input ng-model="komp1"></input>
  </div>
  <div class="col-lg-6">
    komponenta2:<br>
    <input ng-model="komp2"></input>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    GET /drafts <button ng-click="getTest1()">test</button>
    <br>
    <pre>{{test1}}</pre>
  </div>
  <div class="col-lg-4">
    GET /drafts/:userId <button ng-click="getTest2()">test</button>
    <br>
    <pre>{{test2}}</pre>
  </div>
  <div class="col-lg-4">
    POST [komponenta1,komponenta2] /drafts <button ng-click="postTest()">test</button>
    <br>
    <pre></pre>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    niz:<pre>{{niz}}</pre>
  </div>
</div>
