<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Period</div>
    <div class="panel-body">
      <div class="row">


        <div class="col-md-12">
          <!--<h4>Period</h4>-->
          <label>From</label>
          <div structured-date-type ng-model="model.From"></div>

          <label>To</label>
          <div structured-date-type ng-model="model.To"></div>

          <!--<input type="checkbox" ng-model="model.Current"/>-->
          <!--<label>Ongoing</label>-->
        </div>
       </div>
    </div>
  </div>
</div>
