<h1>Pregled komponenti</h1>
<!--<div reference-to-list-type model="Test"></div>-->
<!--<div structured-date-type model="testDatum"></div>-->

<!--<div headline model="pr.SkillsPassport.LearnerInfo.Headline"></div>-->
<!--<hr>-->
<!--<div identification model="pr.SkillsPassport.LearnerInfo.Identification"></div>-->
<!--<hr>-->
<div education model="Identification"></div>
<!--<pre>{{proba}}</pre>-->

<!--<hr/>-->
<!--<div cefr-level-type=""></div>-->
<!--<hr/>-->
<!--&lt;!&ndash;<div person-name-type=""></div>&ndash;&gt;-->
<!--&lt;!&ndash;<hr/>&ndash;&gt;-->
<!--<h2>bootstrap</h2>-->
<!--<div class="row">-->
<!--<div class="col-sm-6"-->
     <!--headline-->
     <!--model="pr.SkillsPassport.LearnerInfo.Headline" ></div>-->
<!--<div class="col-sm-6"-->
     <!--person-name-->
     <!--model="pr.SkillsPassport.LearnerInfo.Identification.PersonName"></div>-->
<!--<hr/>-->

<!--Dina test-->
<!--<div headline model="pr.SkillsPassport.LearnerInfo.Headline" ></div>-->
<!--<h3>Personal data</h3>-->
<!--<div person-name model="pr.SkillsPassport.LearnerInfo.Identification.PersonName"></div>-->
<!--<h3>Education and training</h3>-->
<!--<div period model="pr.SkillsPassport.LearnerInfo.Education.Period"></div>-->
<!--<div title model="pr.SkillsPassport.LearnerInfo.Education"></div>-->
<!--<div name model="pr.SkillsPassport.LearnerInfo.Education.Organisation"></div>-->
<!--<div contact model="pr.SkillsPassport.LearnerInfo.Education.Organisation.ContactInfo.Address.Contact"></div>-->
<!--<div website model="pr.SkillsPassport.LearnerInfo.Education.Organisation.ContactInfo.Website"></div>-->
<!--<div level model="pr.SkillsPassport.LearnerInfo.Education.Level"></div>-->

<!--<div array-type on-add="" model="arr">-->
  <!--<div headline></div>-->
<!--</div>-->
  <!--&lt;!&ndash;<div array-type on-add="" model="arr">&ndash;&gt;-->
  <!--&lt;!&ndash;<div headline></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<hr/>-->
za europass:
<pre>{{pr}}</pre>
<button ng-click="send()">test send europass</button>
