<h1>Pregled komponenti</h1>

<!--<hr/>-->
<!--<div cefr-level-type=""></div>-->
<!--<hr/>-->
<!--&lt;!&ndash;<div person-name-type=""></div>&ndash;&gt;-->
<!--<hr/>-->
<div headline model="pr.SkillsPassport.LearnerInfo.Headline" ></div>
<h3>Personal data</h3>
<div person-name model="pr.SkillsPassport.LearnerInfo.Identification.PersonName"></div>
<h3>Education and training</h3>
<div title model="pr.SkillsPassport.LearnerInfo.Education.Title"></div>
<div name model="pr.SkillsPassport.LearnerInfo.Education.Organisation"></div>
<div website model="pr.SkillsPassport.LearnerInfo.Education.Organisation.ContactInfo.Website"></div>
<!--<div array-type on-add="" model="arr">-->
  <!--<div headline></div>-->
<!--</div>-->


<hr/>
za europass:
<pre>{{pr}}</pre>
<button ng-click="send()">test send europass</button>
