<form>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Modal</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <!--<br>-->
    <!--model: <pre>{{model}}</pre>-->
    <!--<br>-->
    <div achievement-title model="model"></div>
    <input ng-model="model.Description">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</form>
