<div class="jumbotron">
  <h3> Skills </h3>
  <div class="row">
    <div class="col-lg-6">
      <label>Job Related skills</label>
      <div generic-skill-type="" ng-model="model.JobRelated"></div>
    </div>
    <div class="col-lg-6">
      <label>Communication skills</label>
      <div generic-skill-type ng-model="model.Communication"></div>
    </div>
    <div class="col-lg-6">
      <label>Organisational skills</label>
      <div generic-skill-type="" ng-model="model.Organisational"></div>
    </div>
    <div class="col-lg-6">
      <label>Other skills</label>
      <div generic-skill-type="" ng-model="model.Other"></div>
    </div>
    <div class="col-lg-12">
      <label>Computer skills</label>
      <div computer ng-model="model.Computer"></div>
    </div>
    <div class="col-lg-6">
      <div driving ng-model="model.Driving.Description"></div>
    </div>
    <div class="col-lg-6">
      <div linguistic ng-model="model.Linguistic"></div>
    </div>
  </div>
</div>
<!--Linguisitc:-->
<!--<div linguistic ng-model="model.Linguistic"></div>-->

<!--<pre>{{model}}</pre>-->

